.app-container {
  padding: 2rem;
}

.map-details-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider-container{
  display: flex;
  padding-top: 2rem;
  justify-content:center;
}