.weather-details {
  padding: 2rem 2rem 0 2rem;
  background-color: white;
  background-image: url("../../assets/weather-bg.jpeg");
  width: 35rem;
  &__title {
    color: wheat;
  }
  &__list-item {
    color: wheat;
    font-size: 1.5rem;
    font-family: "Roboto";
    font-weight: 800;
  }
}
